.bannerWrap {
  margin: 3rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 20rem;
  color: white;

  background: url(../../public/images/guitarristaHero.jpg);
  background-size: cover;
  background-position: 100% 50%;
  background-blend-mode: darken;
  background-color: #4328186a;

}

.bannerText {
  text-align: center;
  max-width: 35ch;

  font-family: "Anton";
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  line-height: 3rem;
  text-shadow: 2px 2px 4px black;
}

.button {
  /* text-transform: uppercase; */
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.2rem;
  /* margin-top: 1rem; */
  color: white;
  /* border: 3px solid white; */
  
  background:#99582a;
  padding: 1rem 2rem;
  border-radius: 30px;

  transition: all 0.3s ease-in-out;
}

.button:hover {
  background: #c77336;
  /* border: 3px solid #2d2424; */
  box-shadow: 2px 2px 2px #2d2424;
}

@media(max-width: 570px){
  .bannerText{
    padding: 1rem;
    font-size: 1.3rem;
    line-height:normal;
  }
}