.faqWrap {
  margin-top: 3rem;
  padding: 5rem;
  background: url(../../public/images/guitarristaHero.webp);
  background-color: #241c1cbe;
  background-size: cover;
  /* background-position: 50% 50%; */
  background-attachment: fixed;
  background-blend-mode: darken;
  background-repeat: no-repeat;
}

.faqWrap ul {
  padding: 0;
}

.faqWrap ul li {
  list-style: none;
}

.faqTitle {
  display: flex;
  justify-content: center;

  font-size: 3rem;
  color: white;
}

@media (max-width: 768px) {
  .faqWrap {
    padding: 1rem;
  }
  .faqTitle {
    width: 100%;
  }
}
