.contactFormWrapper {
  position: relative;
  min-height: 80rem;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    ),
    url(../../public/images/guitarBackground3.webp);
  background-size: cover;
  background-blend-mode: darken;

  .loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 1)
      ),
      url(../../public/images/guitarBackground4.webp);
    background-size: cover;
    background-position: center;

    p {
      text-align: center;
      padding: 0rem 1rem;
      font-size: 1.4rem;
      color: white;

      animation-name: parpadeo;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }

    .logoWrap {
      opacity: 0.7;
      position: relative;
      min-width: 12rem;
      max-width: 15rem;
    }

    z-index: 999;
  }

  @keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.backgroundWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  filter: brightness(40%);
}

.contactForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  height: auto;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "map form";
  border-radius: 2rem;
  overflow: hidden;

  .imageWrapper {
    grid-area: map;
    position: relative;
    width: 100%;
    height: 100%;
    iframe {
      border: none;
    }
  }

  .formWrapper {
    grid-area: form;
    width: 100%;

    margin: 0 auto;
    padding: 3rem 1rem;
    background-color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

    .success {
      color: white;
      font-weight: bold;
      background-color: green;
      font-size: 1.2rem;
      padding: 1rem 0rem;
      margin-bottom: 1rem;
      padding: 1rem;

      animation: fadeIn 2s;
    }

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
      resize: none;
    }
    .primaryLabel {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .secondaryLabel {
      font-size: 1rem;
      margin-bottom: 10px;
    }

    legend {
      padding: 0rem 1rem;
    }

    textarea {
      height: 200px;
    }

    fieldset {
      margin: 2rem 0rem;
    }

    .checkboxWrapper {
      padding: 1rem 20%;
      .checkbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        input {
          width: auto;
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 10px;
      text-transform: uppercase;
      background-color: #834d26;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #c77438;
        color: #fff;
      }
    }

    .primaryLabel {
      display: block;
      margin: 1rem 0rem;
    }

    .contactWrapper {
      margin: 2rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .phone,
      .email {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          filter: invert(5%) sepia(37%) saturate(281%) hue-rotate(314deg)
            brightness(95%) contrast(96%);
          transition: all 300ms ease-in-out;
        }

        img:hover {
          filter: invert(36%) sepia(69%) saturate(484%) hue-rotate(342deg)
            brightness(90%) contrast(91%);
        }
      }

      .phone p,
      .email p {
        margin-left: 1rem;
      }
      .contactIcon {
        position: relative;
        height: 2rem;
        width: 2rem;
      }
    }
    .submitDisclaimer {
      text-align: center;
      font-size: 0.6rem;
      margin: 1rem 0rem;
    }
  }
}

.fieldError {
  color: #00000057;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .backgroundWrapper {
    display: none;
  }

  .contactFormWrapper {
    background-color: #161111;
    background-image: none;
  }

  .contactForm {
    color: white;
    position: relative;
    width: 100%;
    height: fit-content;
    transform: translate(0, 0);
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 30rem;
    grid-template-areas: "form" "map";
    border-radius: 0rem;
    overflow: hidden;

    h1 {
      margin-top: 5rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }

    .formWrapper {
      background: #161111;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../public/images/guitarBackground4.webp);
      background-position: center;
      background-size: cover;

      color: white;
      height: fit-content;
    }

    .fieldError {
      padding: 0.5rem;
      color: white;
      background: #834d26c7;
    }

    .contactIcon {
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(71deg)
        brightness(200%) contrast(200%);
    }
  }
}
