.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.contentWrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.modalImage {
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
}

.modalText {
  margin: 2rem auto;
  font-size: 1.2rem;
  width: 25rem;
  color: white;
  text-align: center;
}

.modalSpotify {
  margin: 0 auto;
  width: 15rem;
}

.contentWrapper button {
  margin: 2rem auto;
  cursor: pointer;

  width: 10rem;
  height: 3rem;
  border: 0;
  border-radius: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: #99582a;

  transition: all 0.3s ease-in-out;
}

.contentWrapper button:hover {
  background: #d67b3a;
}
