.modalWrapper{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.79);
    z-index: 1;
}

.modalImageWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 25rem;
}

.modalImageWrapper button{
    cursor: pointer;
    
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background: #99582a;
    z-index: 2;
    transition: all 0.3s ease-in-out;
}

.modalImageWrapper button:hover{
    background: #d67b3a;
}
