.coverCollageWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}

.singleCover {
  position: relative;
  background: black;
}

.singleCover:hover{
  cursor: pointer;
}

.singleCover::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

@media(max-width: 900px){
  .coverCollageWrapper {
    display: none;
  }
}