.footerWrap {
  width: 100%;

  background: #161111;
}

.footerContentWrap {
  max-width: 1440px;
  margin: 0 auto;

  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.menuContent {
  padding: 0;
  text-align: center;
  font-weight: 500;
}

.menuContent li {
  list-style: none;
  padding: 0.5rem 0rem;
}

.menuContent li a {
  color: white;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.menuContent li a:hover {
  margin-left: 0.3rem;
  cursor: pointer;
}

.menuWrap h3,
.serviciosWrap h3,
.payments h3 {
  font-family: "Anton";
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: white;
}

.socialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoWrap {
  position: relative;
  min-width: 17rem;
  max-width: 20rem;
  padding: 1rem;
}

.socialContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcon {
  padding: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

.socialIcon svg {
  filter: invert(100%);
  max-width: 2.3rem;
  transition: all 0.3s ease-in-out;
}

.socialIcon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.adress {
  color: white;
}

.serviciosWrap,
.menuWrap {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.payments {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 60%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    li {
      margin: 0;
      list-style: none;
      position: relative;
      width: 100%;
      height: 1.5rem;
    }
    li:last-child {
      grid-column: 2;
    }
  }
}

.legal {
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    color: white;
    font-size: 0.8rem;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
  }

  a:hover {
    color: #fc964d;
  }
}

.mapWrapper {
  margin-top: 1rem;
  width: 70%;
  iframe {
    border-style: none;
    pointer-events: none;
  }
}

@media (max-width: 1200px) {
  .menuWrap h3,
  .serviciosWrap h3 {
    display: none;
  }

  .menuContent {
    display: none;
  }

  .payments {
    display: none;
  }

  .footerContentWrap {
    grid-template-columns: 100%;
  }

  .citaText {
    width: 100%;
    text-align: center;
  }

  .contactoWrap {
    display: none;
  }

  .mapWrapper {
    display: none;
  }

  .legal {
    // justify-content: center;
    // flex-direction: column;
    // padding-bottom: 2rem;
    a {
      font-size: 0.7rem;
      padding: 0.5rem;
    }
  }
}
