.pasosWrapper {
  display: grid;
  grid-template-areas:
    "text1 image1"
    "image2 text2"
    "text3 image3";
  grid-template-rows: 20rem 20rem 20rem;
  grid-template-columns: 50% 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  margin-top: 3rem;
}

.text1,
.text2,
.text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;
}
.text1 {
  grid-area: text1;
}
.text2 {
  grid-area: text2;
}
.text3 {
  grid-area: text3;
}

.title {
  color: #99582a;
  font-family: "Anton", sans-serif;
  font-size: 2rem;
  margin: 0;
}

.title strong {
  margin-left: 0.5rem;
  font-size: 3rem;
  color: #432818;
}

.text {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

.image1 {
  grid-area: image1;
  position: relative;
}
.image2 {
  grid-area: image2;
  position: relative;
}
.image3 {
  grid-area: image3;
  position: relative;
}

@media (max-width: 768px) {
  .pasosWrapper {
    grid-template-areas:
      "image1"
      "text1"
      "image2"
      "text2"
      "image3"
      "text3";
    grid-template-rows: repeat(6, 20rem);
    grid-template-columns: 100%;
  }

  .title {
    font-size: 1.2rem;
  }
  .title strong {
    display: inline-block;
    font-size: 3rem;
  }

  .text {
    font-size: 1rem;
  }

  .text1,
  .text2,
  .text3 {
    padding: 1rem;
  }
  .text3 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
