.socialBannerWrap {
  width: 100%;
}

.socialBanner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* background: #5C3D2E; */
  background: hsla(20, 33%, 19%, 1);
  height: 4rem;
}

.socialBannerLinkWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.socialBannerLink {
  position: relative;
  padding: 1rem;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

@media (max-width: 400px) {
  .socialBannerLinkWrap {
    padding: 0.7rem;
  }
}

@media screen {
  .socialBannerLinkWrap:hover {
    transform: scale(1.1);
    /* filter: drop-shadow(1px 1px 1px #000000); */
  }
}
